@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #000816;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.hero-image {
  border-radius: 6rem 0 6rem 0;
  aspect-ratio: 3/4;
  max-height: 600px;
  width: 40%;
  object-fit: cover;
  object-position: center;
}
